.forgot-page {
  height: 100vh;
  background-color: #d8dee9; /* fondo claro suave */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.forgot-card {
  background-color: #a3a3a3; /* fondo del cuadro */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  border: 1px solid #999;
}

.forgot-title {
  font-size: 22px;
  text-align: left;
  margin-bottom: 1.5rem;
  color: #000;
  font-weight: bold;
}

.forgot-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.forgot-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: #2e2e2e;
  color: #fff;
}

.forgot-input::placeholder {
  color: #ccc;
}

.forgot-button {
  width: 100%;
  padding: 10px;
  background-color: #ffc107;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.forgot-button:hover {
  background-color: #e6b800;
}

.forgot-back-button {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.forgot-back-button:hover {
  background-color: #ddd;
}

